
#qemu_edit .option_key
{
	width: 75px;
}
#qemu_edit .option_val
{
	width: 500px;
}

#qemu_list .vm_name,
#qemu_list .vm_state
{
	display: inline-block;
	width: 100px;
}

.clear
{
	clear: both;
}


#keyboard
{
	border-collapse: collapse;
}
#keyboard textarea
{
	width: 250px;
	height: 100px;
}
#keyboard input[type=button]
{
	width: 25px;
	height: 25px;
	padding: 0;
	font-size: 8pt;
}
#keyboard input[type=button].symbol
{
	font-size: 12pt;
}
#keyboard td
{
	padding: 0;
}
#keyboard td[colspan="2"] input[type=button]	{ width:  50px; }
#keyboard td[colspan="6"] input[type=button]	{ width:  150px; }
#keyboard td[rowspan="2"] input[type=button]	{ height:  50px; }
#keyboard input[type=button].hold
{
	border-style: inset;
}


.option_prototype
{
	color: gray;
	font-style: italic;
}


.ac_path, .ac_file
{
	color: purple;
}
.ac_file
{
	font-weight: bold;
}
.ac_nonliteral
{
	color: darkgreen;
}
.ac_wildcard
{
	color: blue;
}


