#qemu_edit .option_key
{
	width: 75px;
}
#qemu_edit .option_val
{
	width: 250px;
}

#qemu_list .vm_name
{
	display: inline-block;
	width: 100px;
}

.clear
{
	clear: both;
}

#notepad
{
	width: 250px;
	height: 64px;
}

#keyboard input[type=button],
#keyboard td
{
	width: 25px;
	height: 25px;
	padding: 0;
}

#keyboard input[type=button].wide
{
	width: 50px;
}

#keyboard input[type=button].high
{
	height: 50px;
}


