<div id=qemu_edit>
<form method=POST>
	<input type=hidden name=act value="{$act}" />
	{if="$act=='edit'"}
	<input type=hidden name=name value="{$vm.name}" />
	{/if}
	<table id=options>
	<tr>
		<td>Name</td>
		<td>
			{if="$act=='edit'"}{$vm.name}{else}<input type=text name=name value="{$vm.name}" />{/if}
			{if="$act=='edit'"}<a href="?act=view&name={$vm.name}">View ...</a>{/if}
		</td>
	</tr>
	<tr>
		<td colspan=2>Options</td>
	</tr>
	{loop="$vm.opt"}
	<tr>
		<td><input type=text class="option_key" name=optkey_{$counter} data-counter={$counter} value="{$value.name}" /></td>
		<td><input type=text class="option_val" name=optval_{$counter} data-counter={$counter} value="{$value.value}" /></td>
	</tr>
	{/loop}
	</table>
	<input type=button onClick="addOption();" value="Add Option" />
	<br/>
	<input type=submit name=submit value={if="$act=='edit'"}"Save"{else}"Create"{/if} />
</form>
</div>

<script type="text/javascript">
function addOption()
{
	var counter = 0;
	$('[data-counter]').each(function()
	{
		var c = $(this).data('counter');
		if(c >= counter) counter = c+1;
	});
	
	var input1 = $('<input type=text />');
	var input2 = $('<input type=text />');
	input1.attr('class', 'option_key');
	input2.attr('class', 'option_val');
	input1.attr('name', 'optkey_'+counter);
	input2.attr('name', 'optval_'+counter);
	input1.attr('data-counter', counter);
	input2.attr('data-counter', counter);
	
	var row = $('<tr/>');
	var cell1 = $('<td/>');
	var cell2 = $('<td/>');
	cell1.append(input1);
	cell2.append(input2);
	row.append(cell1);
	row.append(cell2);
	$('table#options').append(row);
	
	setupAutoCompleter.call(input1);
	$(input1).blur(setupAutoCompleter2);
}

function setupAutoCompleter()
{
	var a = '';
	if($(this).is('.option_key'))
	{
		a = 'type=option';
	}
	else
	{
		var c = $(this).data('counter');
		var v = $('[name="optkey_' + c + '"]').val();
		a = 'option=' + v;
	}

	var url = 'index.php?act=autocomplete&name={$vm.name}&' + a;
	var ac = $(this).data('autocompleter');
	if(ac == undefined)
	{
		$(this).autocomplete({
			url: url,
			remoteDataType: 'json',
			delay: 800,
			queryParamName: 's',
			maxItemsToShow: 0,
			minChars: 0,
			mustMatch: false,
			filterResults: false,
			cellSeparator: null,
			useCache: false,
			delimiterKeyCode: 0,
			preventDefaultTab: true,
			sortResults: false,
			onItemSelect: acSetItem,
		});
	}
	else
	{
		ac.options.url = url;
	}
}

function setupAutoCompleter2()
{
	var c = $(this).data('counter');
	$('[name="optval_' + c + '"]').each(function()
	{
		setupAutoCompleter.call(this);
	});
}

function acSetItem(item, ac)
{
	if(item.data.raw_value != undefined)
	{
		ac.setValue(item.data.raw_value);
	}
}

$(document).ready(function()
{
	$('input[type="text"]').each(setupAutoCompleter);
	$('input[type="text"].option_key').blur(setupAutoCompleter2);
});
</script>
