
<ul id=qemu_list>
{loop="machines"}
	<li>
		<span class="vm_name">{$value.name}</span>
		<span class="vm_state">
		{if="$value.state.running"}
			{if="$value.state.paused"}
				Paused
			{else}
				Running
			{/if}
		{else}
			Stopped
		{/if}
		</span>
		<a href="?act=start&name={$value.name}">start</a>
		<a href="?act=shutdown&name={$value.name}">shutdown</a>
		<a href="?act=poweroff&name={$value.name}">poweroff</a>
		<a href="?act=reset&name={$value.name}">reset</a>
		<a href="?act=delete&name={$value.name}" onClick="return confirm('Do you want to delete {$value.name}?');">delete</a>
		<a href="?act=new&copy={$value.name}">copy</a>
		<a href="?act=edit&name={$value.name}">edit</a>
		<a href="?act=view&name={$value.name}&getinfo[screenshot]=1">view</a>
	</li>
{else}
No VM added yet.
{/loop}
</ul>
