
<table id="qemu_list">
	<tr>
		<th>Name</th>
		<th>Status</th>
		<th>Action</th>
		<th>Memory Usage</th>
		<th>Size</th>
	</tr>
{loop="machines"}
	<tr>
		<td class="vm_name">{$value.name}</td>
		<td class="vm_state">
		{if="$value.state.running"}
			{if="$value.state.paused"}
				Paused
			{else}
				Running
			{/if}
		{else}
			Stopped
		{/if}
		</td>
		<td>
			<a href="?act=start&name={$value.name}">start</a>
			{if="$value.saved_state"}
				<a href="?act=restorestate&name={$value.name}">restore</a>
			{else}
				<span class="unavailable">restore</span>
			{/if}
			|
			<a href="?act=shutdown&name={$value.name}">shut down</a>
			<a href="?act=poweroff&name={$value.name}">power off</a>
			|
			<a href="?act=reset&name={$value.name}">reset</a>
			<a href="?act=power_cycle&name={$value.name}">power cycle</a>
			|
			<a href="?act=delete&name={$value.name}" onClick="return confirm('Do you want to delete {$value.name}?');">delete</a>
			<a href="?act=new&copy={$value.name}">copy</a>
			<a href="?act=edit&name={$value.name}">edit</a>
			|
			<a href="?act=view&name={$value.name}">view</a>
		</td>
		<td class="vm_memusage">
			{if="$value.state.running"}
				<progress value="{$value.memusage.vsz}" max="{$max.mem.vsz}" title="{$value.memusage.vsz}">{$value.memusage.vsz}</progress>
			{else}
				<progress value="0" max="{$max.mem.vsz}">not running</progress>
			{/if}
		</td>
		<td class="vm_size">
			<progress value="{$value.diskusage}" max="{$max.disk}" title="{$value.diskusage}">{$value.diskusage}</progress>
		</td>
	</tr>
{else}
<tr><td colspan=4>No VM added yet.</td></tr>
{/loop}
</table>
