<div id="qemu_view">

	<a href="?act=edit&name={$vm.name}">edit</a>
	<a href="?act=view&name={$vm.name}&getinfo[vnc]=1&template=vnc">vnc</a>
	<a href="?act=view&name={$vm.name}&template=block">disks</a>
	<br/>

	State:
	<b>
	<span class="vmstate_on" style="display: none;">ON</span>
	<span class="vmstate_off" style="display: none;">OFF</span>
	</b>

	<span class="vmstate_off" style="display: none;">
		<button onClick="state_action('start');">start</button>
	</span>
	<span class="vmstate_paused" style="display: none;">
		<button onClick="state_action('resume');">resume</button>
	</span>
	<span class="vmstate_unpaused" style="display: none;">
		<button onClick="state_action('pause');">pause</button>
	</span>
	<span class="vmstate_on" style="display: none;">
		|
		<button onClick="state_action('savestate')">save state</button>
		<button onClick="state_action('shutdown')">shut down</button>
		<button onClick="state_action('poweroff')">power off</button>
		|
		<button onClick="state_action('reset')">reset</button>
		<button onClick="state_action('power_cycle')">power cycle</button>
	</span>
	<br/>
	
	<div id="savestate_progress">Save state: <span class="status_text"></span> <progress></progress></div>
	<button id=btn_refresh onClick="refresh_state({refresh_screenshot: true, savestate: $('#savestate_progress').data('shown')})">Refresh</button>
	<span id="refresh_progress">dispatching...</span>
<br/>

<div id="preview">
	<i>Screenshot Time:</i>
	<span id="screenshot_time">n/a</span>
	
	<div>
	<img id="screenshot" {if="$vm.screenshot.id"}src='?act=download_screenshot&name={$vm.name}&id={$vm.screenshot.id}'{/if} />
	<span id="no_screenshot">no preview</span>
	</div>
	
	<div>
		<h3>Virtual Keyboard</h3>
		typing timeout: <input type="number" id="in_buffer_timeout" min=0 step=100 value=1000 /> msec,
		buffer length: <span id="buffer_length">0</span><br/>
		{include="keyboard"}
		<br/>
		<br/>
		<br/>
		<br/>
	</div>
	<div class=clear></div>
</div>
</div>


<script type="text/javascript">
document.qemuvm = { name: '{$vm.name}' };
document.keyBuffer = [];
document.modKeys = {alt:false, alt_r:false, altgr:false, altgr_r:false, ctrl:false, ctrl_r:false, meta:false, meta_r:false, shift:false, shift_r:false};


function state_action(act)
{
	var param = {};
	if(act == 'savestate')
	{
		param.savestate = true;
		$('#savestate_progress').data('shown', 1);
	}
	
	qemu.act(act, {}, undefined, function(){ refresh_state(param); });
}

function refresh_state(param)
{
	qemu.refresh_state(document.qemuvm, {
		progress_indicator: $('#refresh_progress'),
		savestate_indicator: $('#savestate_progress'),
		
		state_on: $('.vmstate_on'),
		state_off: $('.vmstate_off'),
		state_paused: $('.vmstate_paused'),
		state_unpaused: $('.vmstate_unpaused'),
		
		enable_on: $('#notepad, #keyboard input'),
		enable_off: $(null),
		enable_paused: $(null),
		enable_unpaused: $('#notepad, #keyboard input'),
		
		screenshot: {
			img: $('#screenshot'), 
			show: $('#screenshot'), 
			hide: $('#no_screenshot'), 
			time: $('#screenshot_time'),
		},
	},
	param);
}

function sendKeys()
{
	qemu.act("event", {param: {event: "key", keys: document.keyBuffer}}, undefined, function(){ refresh_screenshot(); });
	document.keyBuffer = [];
	$('#buffer_length').text(0);
}

function keyEvent(event)
{
	if(event == undefined) return;
	
	if(document.keyTimeout != undefined) clearTimeout(document.keyTimeout);
	document.keyBuffer.push(event);
	$('#buffer_length').text( $('#buffer_length').text()*1+1 );
	document.keyTimeout = setTimeout(sendKeys, $('#in_buffer_timeout').val()*1);
}

function specKey(name)
{
	var evnt = {};
	evnt.keyName = name;
	for(var mk in document.modKeys)
	{
		if(document.modKeys[mk]) evnt[mk] = 1;
	}
	keyEvent(evnt);
	$('#notepad').focus();
}

function modKey(name, button)
{
	if(document.modKeys[name])
	{
		document.modKeys[name] = false;
		$(button).removeClass('hold');
	}
	else
	{
		document.modKeys[name] = true;
		$(button).addClass('hold');
	}
	$('#notepad').focus();
}

function refresh_screenshot()
{
	qemu.refresh_screenshot(document.qemuvm, {screenshot: {img: $('#screenshot'), show: $('#screenshot'), hide: $('#no_screenshot'), time: $('#screenshot_time')}, progress_indicator: $('#refresh_progress')});
}

$(document).ready(function()
{
	refresh_state();
	
	$('#screenshot').click(function(event)
	{
		qemu.act("event", {param: {event: "click", pos: {x: event.offsetX, y: event.offsetY}, button: {left: true}}}, undefined, function(){ refresh_screenshot(); });
	});

	$('#notepad').keypress(function(event)
	{
		var evnt = {keyCode: event.keyCode};
		for(var mk in document.modKeys)
		{
			var p = mk + 'Key';
			if(event[p] || document.modKeys[mk]) evnt[mk] = 1;
		}
		keyEvent(evnt);
		
		if(event.keyCode == 27) this.value = '';
		/*
			if((event.keyCode >= 0x30 && event.keyCode <= 0x39) || 
			   (event.keyCode >= 0x41 && event.keyCode <= 0x5A) || 
			   (event.keyCode >= 0x61 && event.keyCode <= 0x7A) ||  // >
			   event.keyCode == 0x20 ||
			   event.keyCode == 0x08 || event.keyCode == 0x0D)
			{
			}
			else
			{
				event.preventDefault();
			}
		*/
	});
	$('#notepad').focus(function()
	{
		this.value = '';
	});
});

</script>
